@model UchetAuto.Models.TypeCarBody

<div class="modal-header">
    <h5> Создание типа кузова</h5>
</div>
<div class="modal-body">


    <label>Тип кузова</label>
    <input type="text" class="form-control btn-block" id="TypeCarBody" />

    <label>Признак</label>
    <input type="text" class="form-control btn-block" id="Priznak" />
</div>


<div class="modal-footer" style="text-align:center">
    <button type="submit" class="btn btn-info" style="min-width:100px" onclick="TypeCarBodyAddSave()">Сохранить</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width:100px">Отмена</button>
</div>




