@model UchetAuto.Models.TypeCar

<div class="modal-header">
    <h5> Создание типа автомобиля</h5>
</div>
<div class="modal-body">


    <label>Тип автомобиля</label>
    <input type="text" class="form-control btn-block" id="TypeCar" />

    <label>Признак</label>
    <input type="text" class="form-control btn-block" id="Priznak" />
</div>


<div class="modal-footer" style="text-align:center">
    <button type="submit" class="btn btn-info" style="min-width:100px" onclick="TypeCarAddSave()">Сохранить</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width:100px">Отмена</button>
</div>



