@{
    ViewBag.Title = "Index";
}
<div class="modal-header" align="center">
    <h4> Установите фильтр для формирования отчета</h4>
</div>
<div style="margin-left:5px;">
    <label>Филиал</label>
    @Html.DropDownList("Filial1", ViewBag.fil as SelectList, "Выберите филиал", new { @class = "form-control btn-block", id = "Fil" })

    <label>Подразделение</label>
    @Html.DropDownList("Podrazd1", ViewBag.podrazd as SelectList, "Выберите подразделение", new { @class = "form-control btn-block", id = "Podrazd" })

    <label>Должность</label>
    @Html.DropDownList("Doljnost1", ViewBag.dolj as SelectList, "Выберите должность", new { @class = "form-control btn-block", id = "Dolj" })

    <label>Категории:</label>


    <table>
        <tr>
            <td style="padding:0.5em 0.5em;">
                AM: <input type="checkbox" name="inList" onchange="CountSelected()" id="AM" value="AM">

            </td>

            <td style="padding:0.5em 0.5em;">
                A: <input type="checkbox" name="inList" onchange="CountSelected()" id="A" value="A">

            </td>

            <td style="padding:0.5em 0.5em;">
                A1: <input type="checkbox" name="inList" onchange="CountSelected()" id="A1" value="A1">

            </td>

            <td style="padding: 0.5em 0.5em;">
                В: <input type="checkbox" name="inList" onchange="CountSelected()" id="B" value="B">
            </td>


            <td style="padding:0.5em 0.5em;">
                C: <input type="checkbox" name="inList" onchange="CountSelected()" id="C" value="C">
            </td>


            <td style="padding:0.5em 0.5em;">
                D: <input type="checkbox" name="inList" onchange="CountSelected()" id="D" value="D">
            </td>

            <td style="padding:0.5em 0.5em;">
                BE: <input type="checkbox" name="inList" onchange="CountSelected()" id="BE" value="BE">

            </td>

            <td style="padding:0.5em 0.5em;">
                CE: <input type="checkbox" name="inList" onchange="CountSelected()" id="CE" value="CE">

            </td>

            <td style="padding:0.5em 0.5em;">
                DE: <input type="checkbox" name="inList" onchange="CountSelected()" id="DE" value="DE">

            </td>

            <td style="padding:0.5em 0.5em;">
                F: <input type="checkbox" name="inList" onchange="CountSelected()" id="F" value="F">

            </td>


            <td style="padding: 0.5em 0.5em;">
                I: <input type="checkbox" name="inList" onchange="CountSelected()" id="I" value="I">
            </td>


        </tr>
    </table>

</div>
<div class="modal-footer" style="text-align:center">
    <button type="submit" class="btn btn-info" style="min-width:100px" onclick="ReportFilterExcel()">Сформировать</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width:100px">Отмена</button>
</div>
