@{
    ViewBag.Title = "Index";
}
<div class="modal-header" align="center" >
    <h4> Программный комплекс Учета Работы АвтоТракторной Техники</h4>
</div>
<div align="center">
    <h5>По вопросам и предложениям обращаться в отдел АСУП</h5>
    <h5>к инженеру-программисту Самусенко О.В.</h5>
    <h5>тел.: 60 376</h5>
    <h5>e-mail: sov@transoil.gomel.by</h5>
</div>
<div class="modal-header" align="center">
    <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width:100px">Закрыть</button>
</div>

